<%- include('../partial/header.ejs') %>

<%if(!userAuth){%>
    <%-include('../partial/navbar.ejs')%>
<%}else{%>
    <%-include('../partial/userNavbar.ejs')%>
<%}%>



<!-- <%- include('../partial/userNavbar.ejs') %> -->
<section style="background-color: rgb(242, 200, 149);">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Products</strong></h4>

        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
            <% categoryList.forEach((item, index) => { %>
                <li class="nav-item" role="presentation">
                    <button onclick="filter('<%= item._id %>')" class="nav-link rounded-5" id="" data-bs-toggle="tab" type="button" role="tab" aria-selected=""><%= item.category %></button>
                </li>
            <% }); %>
        </ul>
        
           
          <br>

        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Dropdown item</button></li>
              <li><button class="dropdown-item" type="button">Dropdown item</button></li>
              <li><button class="dropdown-item" type="button">Dropdown item</button></li>
            </ul>
          </div> -->

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" id="filterList">
            <% productList.forEach((products, index) => { %>
                <div class="col mb-4">
                    <div onclick="getProduct('<%= products._id %>')" class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                            <div style="width: 250px; height: 250px; overflow: hidden; margin-left:10%; margin-top:5%; ">
                                <img src="/products/<%= products.image1 %>" class="w-100 h-100" />
                            </div>
                            <a >
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a  class="text-reset">
                                <h5 class="card-title mb-3"><%= products.stock %></h5>
                            </a>
                            <a  class="text-reset">
                                <p><%= products.category.category %></p>
                            </a>
                            <h4 class="old-price mb-1" style="color: red;"><del> ₹<%= products.markup %></del></h4>
                            <h2 class="mb-3">₹<%= products.amount %></h2>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>


<%- include('../partial/footer.ejs') %>







<script>
    async function filter(arg){
    // try{
        console.log('entered the fetch')
  const res = await fetch(`/user/productFilter/category/${arg}`,{
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },    
  })
  let data = await res.json()
  console.log(data)
  updateTable(data);
    // }catch(error){
    //     console.log(error)
    // }
}

function updateTable(data){
    console.log('enterd filter')
    const bodyOfList = document.getElementById('filterList')
    let rows = []
    data.productList.forEach(products => {
        let row =`
        <div class="col mb-4">
                    <div onclick="getProduct( ${products._id} )" class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                            <div style="width: 250px; height: 250px; overflow: hidden; margin-left:10%; margin-top:5%; ">
                                <img src="/products/${ products.image1}" class="w-100 h-100" />
                            </div>
                            <a >
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a  class="text-reset">
                                <h5 class="card-title mb-3">${ products.stock }</h5>
                            </a>
                            <a  class="text-reset">
                                <p>${ products.category.category}</p>
                            </a>
                            <h4 class="old-price mb-1" style="color: red;"><del> ₹${ products.markup }</del></h4>
                            <h2 class="mb-3">₹${ products.amount }</h2>
                        </div>
                    </div>
                </div>`
                rows.push(row)
        
    });
    bodyOfList.innerHTML = rows.join("");
}
    

    async function getProduct(id){
        console.log(id,"helloooooooooooooooooooooooooooooooooooooooooooooooo")
        try{
            // alert('sdf')

            // const singleProduct = await axios.get(`/user/productPage/${id}`)//
            const singleProduct = await axios.get(`/user/productPage/${id}`)
            window.location.href = `/user/productPage/${id}`
            
        }catch(err){
            console.log(err.message)
        }
    }

 
</script>