
<%- include('../partial/header.ejs') %>
<%- include('../partial/userNavbar.ejs') %>


<div class="container py-5 h-100">
    <!-- <div class="row">
        <div class="col-md-2">
            <%- include('../partial/userSidebar.ejs') %>
        </div> -->
        <div class="col-md-12 col-12 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col">
                    <div class="row justify-content-between">
                      <div class="col">
                        <div class="d-flex flex-row align-items-center">
                          <h5 class="mb-3"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Order details</a></h5>
                        </div>
                      </div>
                      <input id="paymentMode" type="text" value="<%= details.paymentMode %>" style="display: none;">
                      <div class="col">
                        <% if(details.status == "canceled"|| details.status == "return request"|| details.status == "return approved" ||  details.status == "return rejected"|| details.status == "pickup completed"|| details.status == "returned"){ %>
                        <div class="d-flex flex-row align-items-center justify-content-end">
                          <input style="width: 30%; border: none; color: rgb(171, 20, 20);" type="text" value="<%= details.status %>" disabled>
                        </div>
                        <% }else if(details.status == "delivered"){%>
                          <div class="d-flex flex-row align-items-center justify-content-end">
                            <!-- <button id="returnProductModal"  data-bs-toggle="modal" data-bs-target="#returnProductModal"  aria-labelledby="exampleModalLabel" style="background-color: rgb(9, 121, 37); border-radius: 5px; " 
                            >request to return</button> -->
                            <button id="returnProductModalTrigger" data-bs-toggle="modal" data-bs-target="#returnProductModal" style="background-color: rgb(9, 121, 37); border-radius: 5px; " >request to return</button>

                          </div>
                        
                        <% }else{%>
                          <div class="d-flex flex-row align-items-center justify-content-end">
                            <button style="background-color: red; border-radius: 5px;" 
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            >Cancel Order</button>
                          </div>
                        <%}%>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div>
                        <!-- <p class="mb-1">Shopping cart</p> -->
                        <!-- <p class="mb-0"> items in your cart</p> -->
                      </div>
                      <div>
                        <!-- <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p> -->
                      </div>
                    </div>
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <!-- <div>
                              <img src="" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                            </div> -->
                            <div class="ms-3">
                              <h5>ORDER ID : <%= details._id %></h5> <!-- Assuming product has a 'name' property -->
                              <h5 style="display: none;">fff</h5> <!-- Assuming product has a 'name' property -->
                              <p class="small mb-0"><%= details.date.toISOString().slice(0, 10).split('-').reverse().join('-') %></p> <!--  Assuming product has a 'details' property -->
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <!-- <div style="width: 80px;">
                              <h5 class="mb-0">₹4645</h5>
                            </div> -->
                            <div style="width: 120px;">
                              <!-- Assuming product has a 'price' property -->
                              <h5 class="mb-0">₹<%= details.total %></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>


              <div class="card-body">

                <% details.products.forEach(product => { %>
                <div class="card mb-3"> 
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img src="/products/<%= product.image1 %>" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>sdsdvsd</h5> <!-- Assuming product has a 'name' property -->
                          <h5 style="display: none;"></h5> <!-- Assuming product has a 'name' property -->
                          <p class="small mb-0"></p> <!--  Assuming product has a 'details' property -->
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 80px;">
                          <!-- Assuming product has a 'price' property -->
                          <h5  class="mb-0">₹<%= product.amount %></h5>
                        </div>
                       
                        <div style="width: 80px;">
                        
                          <h5  class="mb-0"><%= product.quantity %></h5>
                        </div>
                        <div style="width: 80px;">
                        
                          <h5  class="mb-0">₹<%= product.amount*product.quantity %></h5>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
               <% }) %>




                <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <h5 class="mb-0">Total Payment</h5>
              </div>

              <div class="d-flex justify-content-between">
                <p class="mb-2">Sub Total</p>
                <p class="mb-2">₹<%= details.subTotal %></p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="mb-2">Shipping</p>
                <p class="mb-2">free</p>
              </div>

              <div class="d-flex justify-content-between"> 
                <p class="mb-2">Tax</p>
                <p class="mb-2">₹<%= details.tax %></p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="mb-2">Discount</p>
                <p class="mb-2">0.00</p>
              </div>

              <hr class="my-4" />

              <div class="d-flex justify-content-between mb-4">
                <p class="mb-2">Total(Incl. taxes)</p>
                <p class="text-success mb-2">₹<%= details.total %></p>
              </div>

             
            </div>


            <div class=" row">
               
                <div class="col-12 ">
              <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                
                                <div class="ms-3">
                    
                                    <h4>Delivery Address</h4>
                                    <h5><%=  details.address.firstName %> <%= details.address.secondName %></h5>
                                <p class="small mb-0"><%=  details.address.address %></p>
                                <p class="small mb-0"><%=  details.address.country %>, <%=  details.address.state %>, <%=  details.address.city %>, <%=  details.address.pinCode %></p>
                                <p class="small mb-0"><%=  details.address.email %>, <%=  details.address.phoneNumber %></p>
                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
              </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Do you really want to cancel your order </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" 
          onclick="cancelOrder('<%= details._id %>')">confirm Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--  -->
  <div class="modal fade" id="returnProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Reason for request to return </p>
          <textarea name="returnReason" id="returnReason" cols="30" rows="4" placeholder="reason for return"></textarea>
          <!-- <h5>Do you really want to cancel your order </h5> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" 
          onclick="returnProduct('<%= details._id %>')">confirm Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- snackbar -->
  
  <%- include('../componentViews/snackbar.ejs') %>
  
  <!-- cancel order -->
  
  <div id="snackbar" class="icon-danger" style="background-color: red;">
    <i class="fas fa-exclamation-circle" ></i> You canceled your order
  </div>


  <div id="returnRequest" class="icon-danger" style="background-color: red;">
    <i class="fas fa-exclamation-circle"></i> Requested for Return the Product
</div>


<!-- snackbar -->

  


  <script>
    async function cancelOrder(_id,paymentMode){
      var modalElement = document.getElementById('exampleModal');
    var modal = bootstrap.Modal.getInstance(modalElement);
    modal.hide();
      const method = document.getElementById('paymentMode').value
      console.log('lololol',method);
      const res = await fetch("/user/cancelOrder/",{
        method : "post",
        body : JSON.stringify({_id,method}),
        headers:{
          "Content-Type": "application/json",
        }
      })
      const data = await res.json()
      if(data.succuss){
        // window.location.reload()
        
       await myFunction()
       setTimeout(()=>{
    window.location.reload()
  },3000)

        
      }
      
    }

    async function returnProduct(_id){
      const method = document.getElementById('paymentMode').value
      const returnReason = document.getElementById('returnReason').value

console.log(returnReason)
      console.log(_id,method);
      console.log('lololol',method);
      const res = await fetch("/user/returnProduct/",{
        method : "post",
        body : JSON.stringify({_id,method,returnReason}),
        headers:{
          "Content-Type": "application/json",
        }
      })
      const data = await res.json()
      if(data.succuss){
        alert('hai')

        await returnRequest()

      }
    }
  </script>